@media screen and (max-width: 576px) {
    .media {
    justify-content: center !important;
    }
}


/*content*/

.border-img
{
    border: 1px solid;
    margin-top: 0px;
    padding-top: 0px;
}

img {
    margin: 17px 60px 17px 60px;
    width: 80px;
    height: 80px;
}

.card-img
{
    width: 18vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.media-body
{
    margin-left: 30px;
}
.media
{
    padding-bottom: 0px;
    
}

h2
{
    color: #F85353;

}

h5 {
    color: #F85353;
}

.badge-secondary {

    background-color: #F85353 !important;
}

#content h2 {
    padding-bottom: 40px;

}


#badge {
    padding-top: 10px;

}

.padd {
    
    padding-bottom: 70px;

}