@media screen and (max-width: 576px) {
    .media {
    justify-content: center !important;
    }
}


/*content*/

.border-img
{
    border: 1px solid;
    margin-top: 0px;
    padding-top: 0px;
}

img {
    margin: 17px 60px 17px 60px;
    width: 80px;
    height: 80px;
}

.card-img
{
    width: 18vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.media-body
{
    margin-left: 30px;
}
.media
{
    padding-bottom: 0px;
    
}

h2
{
    color: #F85353;

}

h5 {
    color: #F85353;
}

.badge-secondary {

    background-color: #F85353 !important;
}

#content h2 {
    padding-bottom: 40px;

}


#badge {
    padding-top: 10px;

}

.padd {
    
    padding-bottom: 70px;

}

/* breadcrumb */
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block !important;
    padding-right: .5rem !important;
    color: #F85353 !important;
    content: ">" !important;
}
/* aside */
#aside
{
border-right: 0.1px solid rgba(112, 112, 112) !important;
}
/* breadcrumb-info */
.breadcrumb-info li:nth-child(2)
{
    padding-right: 15px;
}
.breadcrumb-info i:nth-child(1)
{
    padding-right: 5px;
}
ul.breadcrumb-info
{
    padding-left: 0;
}
.breadcrumb-info
{

    margin-bottom: 0px;
    list-style-type: none !important;
    font-size: 15px;
}   
.breadcrumb-info li 
{
    display: inline-block;

}

#comment {

    padding-right: 5px;
}

#or {
    padding-right: 15px;
}

/* Page Navigation */

.pagination {
    justify-content: flex-end;

}

.page-link {
    color: #F85353 !important;
}

#border {
    color: #F85353 !important;
}