/**** All ****/ 
h2 {
    color: #F85353;
    padding-bottom: 40px;
}
form.form-inline.my-2.my-lg-0 {
    padding-top: 30px;
}
form .btn {
    background-color: #F85353;
    border: none;
}
form .btn:hover {
    background-color: #F85353;
    color: #FFF;
}
.far {
    padding-right: 10px;
} 

.p-legal-contact {
    font-style: italic;
    font-size: 0.7rem;
    line-height: 1.8;
}
#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 60px;
}