/* @media */
@media screen and (max-width:576px)
{
    #aside
    {
        display: none;
    }
    .img_article
    {
        max-width: 150%;
    }
    .form-control
    {
        max-width: 150%;
    }
}

/* all */
h1, h2, .far
{
    color: #F85353 !important;
}
h2
{
font-size: 22px;
}

/* gloabl content */
#global-content {
    padding-bottom: 50px;
}

/* breadcrumb */
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block !important;
    padding-right: .5rem !important;
    color: #F85353 !important;
    content: ">" !important;
}
.badge .badge-danger
{
    margin: 15px;
}
.nav-link
{
    color: #1B355B !important;
    font-size: 15px;
}
.fa-home:before {
content: "\f015";
top: 4px;
right: 5px;
position: relative;
}
/* aside */
#aside
{
border-right: 0.1px solid rgba(112, 112, 112) !important;
}

h1.card-text {
    font-size: 1.6rem !important;
}
/* content */
#content
{
    padding-left: 15px;
}
#img_article img
{
    padding-top: 20px;
    max-width: 100%;
}
/* breadcrumb-info */
.breadcrumb-info li:nth-child(2)
{
    padding-right: 15px;
}
.breadcrumb-info i:nth-child(1)
{
    padding-right: 15px !important;
}
ul.breadcrumb-info
{
    padding-left: 5px;
}
.breadcrumb-info
{
list-style-type: none !important;
}
.breadcrumb-info li 
{
    display: inline-block;
}
.breadcrumb
{
    background-color: white;
    font-size: 22px;
}
.breadcrumb-item
{
    color: #1B355B;
}
/* comment */
.btn-primary
{
    background-color: #F85353;
    border-color:  #F85353;
} 
